{% extends "layout.html" %}

{% block title %}Lista de Documentos{% endblock %}
{% if 'admin' in user_roles %}

{% block content %}
    <h1>Lista de Documentos</h1>
    {% for archivo in archivos %}
        <div class="document-item">
            <p>{{ archivo.Key }}</p>
            <form action="{{ url_for('destacar_documento') }}" method="post" style="display:inline;">
                <input type="hidden" name="documento_id" value="{{ archivo.Key }}">
                <button type="submit"><i class="fas fa-star"></i> Destacar</button>
            </form>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}
